<% if user_signed_in? %>

  <table class="front" summary="For signed-in users">
	<tr>
		<td class="main">
			<div class="round tab-<%=current_tab%> current-page-caption">
				<%= current_tab.to_s.pluralize.capitalize %>
			</div>
			<%= render 'shared/budget_form' %>
			<h6>
				You can edit [<span class="budget-edit-sample">Budget</span>],  
				[<span class="item-edit-sample">Item</span>] and
				[<span class="item-amount-sample">$ Amount</span>] by clicking on them.
			</h6>
		</td>
	</tr>
	<tr>
		<td class="round" style="padding-bottom: 30px;padding-top: 10px;padding-left: 10px;">
			<ul style="margin: 0; padding:0;">
				<li id="budget-list" style="display: inline-block">
		        	<%= render 'shared/budget_info' %>
				</li>
				<li id="income-info" class="round">
					<%= render 'shared/income_info' %>
				</li>
			</ul>
	  	</td>
   	</tr>
  </table>
<% else %>
  <h1>Please sign in or sign up</h1>

  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>

<% end %>

