<% get_all_user_budgets(current_user.id).each do |budget| %>
	<ul>
		<li>
			<div style="width: 315px;">
				<ul style="padding: 0;margin:0">
					<li class="budget-edit" id="<%=budget.id%>"><%=budget.name %></li>
					<li class="budget-delete"> <%= link_to "delete", budget, 	:remote => true, 
															:method => :delete, 
															:confirm => "Are you sure?", 
															:title => "Delete #{budget.name}" %>
					</li>
				</ul>
			</div>
			<div id="item-list-<%=budget.id%>">
				<%= render 'shared/item_info', :budget => budget %>
			</div>
			<div id="item-form">
				<%= render 'shared/item_form', :budget => budget %>
			</div>
		</li>
	</ul>
<% end %>



