<div id="income-disposable">
	<div class="caption">Your disposable income:</div>
	<div class="amount">
		<% if current_user.income %>
			$<span class="edit" id="<%=current_user.income.id %>"><%= number_to_currency(current_user.income.amount, :unit => "", :delimiter => "") %></span>
		<% else %>
			<%= render 'incomes/income_form', :income => Income.new %>
		<% end %>
	</div>
</div>

<div id="income-deduction">
	<% if current_user.income %>
	<div class="caption">Monthly Expenditure:</div>
	<div class="amount"><%= number_to_currency(consolidate_items_amount, :unit => "$") %></div>
	<% end %>
</div>

<div id="income-deduction">
	<% if current_user.income %>
	<div class="caption">After budget deductions:</div>
		<% if amount_after_deduction < 0  %>
			<div class="amount red">$<%= amount_after_deduction %></div>
		<% else %>
			<div class="amount green">$<%= amount_after_deduction %></div>
		<% end%>
	<% end %>
</div>

<%= javascript_tag  do -%>

    $('#income-disposable .amount .edit').editable('/income/update', {
	    name		:	$(this).attr('name'),
	    id			:	$(this).attr('id'),
	    cancel		:	'Cancel',
	    submit		:	'OK',
	    indicator	:	'Saving...',
	    tooltip		:	'Click to edit...',
		method		: 	'put'
	});
	
<% end -%>