<% get_all_budget_items(budget.id).each do |item| %>

	<ul>
		<li>
			<div style="width: 290px;" class="item-<%= item.id %>">
				<ul style="padding: 0;margin:0">
					<li class="item-edit" id="<%= item.id %>"><%= item.name %> </li>
					<strong>$</strong>
					<li class="item-amount" id="<%= item.id %>"><%= number_to_currency(item.amount, :unit => "", :delimiter => "") %></li>
					<li class="item-delete" style="font-size: small"> 
						<%= link_to "delete", item, :remote => true,
						 							:method => :delete, 
													:confirm => 'Are you sure?',
													:title => "Delete #{item.name}" %>
					</li>
				</ul>
			</div>
		</li>
	</ul>

<% end %>

<% javascript_tag  do -%>

	$('.item-edit').editable('/item/update', {
	    name		:	$(this).attr('name'),
	    id			:	$(this).attr('id'),
	    cancel		:	'Cancel',
	    submit		:	'OK',
	    indicator	:	'Saving...',
	    tooltip		:	'Click to edit...',
		method		: 	'put',
		submitdata 	: 	{attribute : "name"}
	});

	$('.item-amount').editable('/item/update', {
	    name		:	$(this).attr('name'),
	    id			:	$(this).attr('id'),
	    cancel		:	'Cancel',
	    submit		:	'OK',
	    indicator	:	'Saving...',
	    tooltip		:	'Click to edit...',
		method		: 	'put',
		submitdata 	: 	{attribute : "amount"}
	});
	

<% end -%>