$("#item-list-<%=@current_budget.id%>").html("<%= escape_javascript(render 'shared/item_info', :budget => @current_budget ) %>")

$("#notice").html('<div class="flash success"><%= escape_javascript(flash.delete(:success)) %></div>');

$(".new_item").each(function(index) {
   	this.reset();
});

$("#income-info").html("<%= escape_javascript(render('shared/income_info')) %>")

$(".item-<%=@item.id%>").effect("highlight", {}, 3000);

$("#income-deduction .amount").effect("highlight", {}, 3000);
