<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= render 'layouts/stylesheets' %>
	<%= javascript_include_tag 'jquery', 'rails' %>
	<%= javascript_include_tag 'jeditable', 'effects', 'effects_highlight', 'application', 'tracking' %>
  </head>
  <body>
    <div class="container">
     	<%= render 'layouts/header' %>
      	<section class="round">
			<div id="notice"></div>
			<%= render 'layouts/nav_tabs' %>
        	<%= yield %>
      	</section>
		<%= render 'layouts/footer' %>
    </div>
  </body>
</html>
